extends ../layout

block content
  .row.question-container
    .col.s12
      ul.tabs
        
  script(src='https://www.desmos.com/api/v0.7/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6')
  script(src='/javascripts/lessons/show.js')