body {
  /*background: #ddd;*/
}

#calculator {
  position: absolute;
  width: 100%;
  height: 93%;
}

nav {
  padding-left: 10px;
  padding-right: 10px;
}

.bottom-right {
  bottom: 24px;
  right: 24px;
}

.question-template {
  display: none;
}

.card-image .insert-image {
  position: absolute;
  cursor: pointer;
  font-size: 40px;
  right: 18px;
  bottom: 10px;
  color: #26a69a;
}

.card-image .remove-image {
  position: absolute;
  cursor: pointer;
  font-size: 40px;
  right: 18px;
  top: 10px;
}

.card-image i {
  opacity: 0.8;
}

.card-image i:hover {
  opacity: 1;
}

.collection-item img {
  position: absolute;
  right: 10px;
  width: 100px;
  height: 60px;
}

.graph-item {
  cursor: pointer;
  color: #26a69a;
}

.graph-item:hover {
  background-color: #26a69a;
  color: #fff;
}

.card.horizontal .card-image {
  display: flex;
  max-width: 40%;
}

.card.horizontal .card-image img {
  object-fit: cover;
}

.tabs {
  margin-bottom: 2rem;
}

.tabs .tab a {
  color: #ff4081;
}

.tabs .indicator {
  background-color: #f48fb1;
}

.question-text {
  font-size: 1.5em;
}

.calculator {
  width: 50%;
  height: 500px;
  margin-top: -50px;
}
