body {
  background: #ddd;
}

#calculator {
  position: absolute;
  width: 100%;
  height: 93%;
}

nav {
  padding-left: 10px;
  padding-right: 10px;
}

.bottom-right {
  bottom: 24px;
  right: 24px;
}

.question-template {
  display: none;
}

/*input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #ff4081;
  box-shadow: 0 1px 0 0 #ff4081;
}

input[type=text]:focus:not([readonly])+label {
  color: #ff4081;
}*/
