extends ../layout

block content        
  .container
    h4.center.grey-text.text-darken-1 My Graphs
    if graphs
      each v, i in graphs
        if (i%2 === 0)
          .row
            each graph in graphs.slice(i, i+2)
              .col.s12.m6
                .card.indigo.lighten-2
                  .card-content.white-text
                    span.card-title= graph.data.title
                  .card-action
                    a(href='graphs/#{graph._id}') Preview
                    a(href='graphs/edit/#{graph._id}') Edit
                    a(href='graphs/delete/#{graph._id}') Delete
                    
  .bottom-right
    a.btn-floating.btn-large.waves-effect.waves-light.pink.accent-2(href='/graphs/new')
      i.material-icons add
